/* #region Fonts and Basic Styling */
@font-face {
  font-family: 'London Underground Regular';
  src: url('londonUndergroundRegular.ttf')format('truetype');
}

@font-face {
  font-family: 'London Underground Bold';
  src: url('londonUndergroundBold.ttf')format('truetype');
}

@font-face {
  font-family: 'London Underground Heavy';
  src: url('londonUndergroundHeavy.ttf')format('truetype');
}

.sign {
  background-color: black;
  color: orange;
  font-family: 'London Underground Regular';
  font-size: 2rem;
  width: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.container {
  display: grid;
  grid-template-columns: 1fr 10fr 2fr;
  padding: 0.5rem 0rem;
}

.row-time {
  display: flex;
  justify-content: center;
  font-family: 'London Underground Heavy';
  font-size: 2.5rem;
}

.row-time:hover {
  cursor: pointer;
}

.arrival {
  text-align: end;
}

.position {
  text-align: center;
}

.bounded {
  position: relative;
  overflow: hidden;
}

.right-align {
  text-align: right;
}

.left-align {
  text-align: left;
}

#form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

body {
  background-color: black;
}

/* #endregion */

/* #region Animations */
/* Keyframes */
@keyframes scrollIn {
  from {
    transform: translateY(150%);
  }
  
  to {
    transform: translateY(0%);
  }
}

/* Utility Classes */
.scroll-in {
  animation: scrollIn 0.4s linear;
}

/* #endregion */